blinker
click
colorama
Flask
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
narwhals
numpy
packaging
pandas
plotly
python-dateutil
pytz
six
SQLAlchemy
typing_extensions
tzdata
Werkzeug
gunicorn
